*~
_build
Makefile.in
Makefile
aclocal.m4
autom4te.cache
auxdir
config.h.in
configure
INSTALL
_install
auxdir/compile
auxdir/depcomp
auxdir/install-sh
auxdir/missing
tests/testsuite
tests/testsuite.at
tests/package.m4
