/* */

body {
    margin-top: 1.0em;
    background-color: #6e8486;
    font-family: sans-serif;
    color: #ffffff;
}

#container {
    margin: 0 auto;
    width: 700px;
    background-color: #fff;
    color: #000;
}

h1, h2, h3, a {
    color: #66d;
}

h1 { font-size: 3.8em; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; }
h3 { text-align: center; }
a { text-decoration: underline; }

a:link { color: #00f; }
a:visited { color: #088; }
a:active { color: #f00; }

.description {
    font-size: 1.2em;
    margin-bottom: 30px; margin-top: 30px;
    font-style: italic;
}

.download { float: right; }

pre { background: #000; color: #fff; padding: 15px;}

hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}

.footer {
    text-align:center;
    padding-top:30px;
    font-style: italic;
}
